<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system_tools">
                    <resource id="Rissc_Printformer::module" title="Prinformer Module" sortOrder="10">
                        <resource id="Rissc_Printformer::products" title="Printfomer Products" sortOrder="10" />
                        <resource id="Rissc_Printformer::drafts" title="Printfomer Drafts" sortOrder="20" />
                        <resource id="Rissc_Printformer::history_log" title="Printformer History Log" sortOrder="30" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Rissc_Printformer::config" title="Rissc Printformer" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
