<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <printformer>
            <general>
                <enabled>1</enabled>
                <remote_host>http://pf-mage2.ops.printformer.net</remote_host>
                <license_key>M0YSA-N9S0F-N04E1-7RD7A</license_key>
                <secret_word>risscw2pmagento</secret_word>
                <locale>de_DE</locale>
                <redirect_after_config>1</redirect_after_config>
                <guest_wishlist_hint><![CDATA[You have to be registered to add this product to your Wishlist.]]></guest_wishlist_hint>
                <cart_edit_text>Edit</cart_edit_text>
                <config_button_text>Configure</config_button_text>
                <processing_type>sync</processing_type>
                <product_image_preview_width>1000</product_image_preview_width>
                <product_image_preview_height>1000</product_image_preview_height>
            </general>
            <format>
                <notice_text>Format change will reset your cofiguration progress.</notice_text>
                <query_parameter>risscw2pcustomertemplate</query_parameter>
                <option_name>format</option_name>
            </format>
            <color>
                <query_parameter>risscw2pcustomcolorvariant</query_parameter>
                <option_name>color</option_name>
            </color>
            <cron>
                <enabled>1</enabled>
                <cleanup_days>30</cleanup_days>
            </cron>
        </printformer>
    </default>
</config>
