<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <printformer>
            <general>
                <enabled>1</enabled>
                <locale>de_DE</locale>
                <redirect_after_config>1</redirect_after_config>
                <editor_fullscreen_enabled>0</editor_fullscreen_enabled>
                <guest_wishlist_hint><![CDATA[You have to be registered to add this product to your Wishlist.]]></guest_wishlist_hint>
                <cart_edit_text>Edit</cart_edit_text>
                <expire_date>30</expire_date>
                <config_button_text>Configure</config_button_text>
                <processing_type>sync</processing_type>
                <product_image_preview_width>1000</product_image_preview_width>
                <product_image_preview_height>1000</product_image_preview_height>
                <product_image_thumbnail_width>150</product_image_thumbnail_width>
                <product_image_thumbnail_height>150</product_image_thumbnail_height>
                <order_status>pending</order_status>
                <delete_confirm_text><![CDATA[Should the draft get deleted?]]></delete_confirm_text>
                <redirect_on_cancel>1</redirect_on_cancel>
            </general>
            <format>
                <notice_text>Format change will reset your cofiguration progress.</notice_text>
                <query_parameter>risscw2pcustomertemplate</query_parameter>
                <option_name>format</option_name>
            </format>
            <color>
                <query_parameter>risscw2pcustomcolorvariant</query_parameter>
                <option_name>color</option_name>
            </color>
        </printformer>
    </default>
</config>
