<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <printformer>
            <general>
                <enabled>1</enabled>
                <locale>de_DE</locale>
                <redirect_after_config>1</redirect_after_config>
                <display_mode>0</display_mode>
                <guest_wishlist_hint><![CDATA[You have to be registered to add this product to your Wishlist.]]></guest_wishlist_hint>
                <cart_edit_text>Edit</cart_edit_text>
                <expire_date>30</expire_date>
                <processing_type>sync</processing_type>
                <product_image_preview_width>1000</product_image_preview_width>
                <product_image_preview_height>1000</product_image_preview_height>
                <product_image_thumbnail_width>150</product_image_thumbnail_width>
                <product_image_thumbnail_height>150</product_image_thumbnail_height>
                <config_button_text><![CDATA[Design product]]></config_button_text>
                <delete_confirm_text><![CDATA[Should the draft be deleted?]]></delete_confirm_text>
                <order_status>pending</order_status>
                <redirect_on_cancel>1</redirect_on_cancel>
                <transfer_user_data>0</transfer_user_data>
                <filter_for_configurable_product>1</filter_for_configurable_product>
                <use_draft_in_wishlist>0</use_draft_in_wishlist>
                <compare_current_apikey_with_default>1</compare_current_apikey_with_default>
            </general>
            <draft>
                <draft_update>0</draft_update>
                <draft_update_order_id>pf-ca-orderid</draft_update_order_id>
            </draft>
            <format>
                <notice_text>Format change will reset your cofiguration progress.</notice_text>
                <query_parameter>risscw2pcustomertemplate</query_parameter>
                <option_name>format</option_name>
            </format>
            <color>
                <query_parameter>risscw2pcustomcolorvariant</query_parameter>
                <option_name>color</option_name>
            </color>
        </printformer>
    </default>
</config>
