<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Declarations -->
    <preference for="Rissc\Printformer\Api\Data\Customer\Group\RightSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="Rissc\Printformer\Model\Api\Webservice\Data\OrderedCallbackInterface"
                type="Rissc\Printformer\Model\Api\Webservice\Service\OrderedCallback"/>
    <preference for="Rissc\Printformer\Model\Api\Webservice\Data\AclInterface"
                type="Rissc\Printformer\Model\Api\Webservice\Service\Acl"/>
    <preference for="Rissc\Printformer\Model\Api\Webservice\Data\AclDataInterface"
                type="Rissc\Printformer\Model\Api\Webservice\Service\AclData"/>
    <preference for="Rissc\Printformer\Api\Data\AclDataInterface" type="Rissc\Printformer\Model\AclData"/>
    <preference for="Magento\Checkout\Block\Cart\Item\Renderer" type="Rissc\Printformer\Block\Checkout\Cart\Renderer"/>
    <preference for="Rissc\Printformer\Api\Data\Customer\Group\RightSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Magento\Downloadable\Block\Checkout\Cart\Item\Renderer" type="Rissc\Printformer\Block\Checkout\Cart\Renderer"/>
    <preference for="Magento\Bundle\Block\Checkout\Cart\Item\Renderer" type="Rissc\Printformer\Block\Checkout\Cart\Renderer"/>
    <preference for="Magento\ConfigurableProduct\Block\Cart\Item\Renderer\Configurable" type="Rissc\Printformer\Block\Checkout\Cart\Renderer"/>
    <preference for="Magento\Swatches\Block\Product\Renderer\Configurable" type="Rissc\Printformer\Block\Swatches\Product\Renderer\Configurable" />
    <preference for="Magento\Wishlist\Controller\Index\Add" type="Rissc\Printformer\Controller\Index\Add" />

    <!-- Plugins -->
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="Rissc_Printformer_Product_Gallery" type="Rissc\Printformer\Plugin\ConfigurableProduct\Block\Product\View\Type\Configurable"
                sortOrder="100"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="Rissc_Printformer_Product_Gallery" type="Rissc\Printformer\Plugin\Catalog\Product\View\Gallery"
                sortOrder="100"/>
    </type>
    <type name="Magento\Checkout\Block\Cart\Item\Renderer\Actions\Edit">
        <plugin name="Rissc_Printformer_Checkout_Item_EditRenderer"
                type="Rissc\Printformer\Plugin\Checkout\Cart\Item\Renderer\Actions\Edit" sortOrder="100"/>
    </type>
    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="Rissc_Printformer_Cart_Add" type="Rissc\Printformer\Plugin\Checkout\Cart\Add" sortOrder="100"/>
    </type>
    <type name="Magento\Checkout\CustomerData\DefaultItem">
        <plugin name="Rissc_Printformer_Checkout_DefaultItem"
                type="Rissc\Printformer\Plugin\Checkout\CustomerData\DefaultItem" sortOrder="100"/>
    </type>
    <type name="Magento\Downloadable\Block\Customer\Products\ListProducts">
        <plugin name="Rissc_Printformer_DownloadableProducts_ListProducts"
                type="Rissc\Printformer\Plugin\DownloadableProducts\ListProducts" sortOrder="100"/>
    </type>
    <type name="Magento\Downloadable\Block\Sales\Order\Email\Items\Downloadable">
        <plugin name="Rissc_Printformer_DownloadableProducts_EmailItems"
                type="Rissc\Printformer\Plugin\DownloadableProducts\EmailItems" sortOrder="100"/>
    </type>
    <type name="Magento\Downloadable\Block\Sales\Order\Email\Items\Order\Downloadable">
        <plugin name="Rissc_Printformer_DownloadableProducts_EmailItemsOrder"
                type="Rissc\Printformer\Plugin\DownloadableProducts\EmailItemsOrder" sortOrder="100"/>
    </type>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="Rissc_Printformer_QuoteModel" type="Rissc\Printformer\Plugin\Quote\QuoteModel" sortOrder="100"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="Rissc_Printformer_Quote_ItemModel" type="Rissc\Printformer\Plugin\Quote\Quote\ItemModel"
                sortOrder="100"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <plugin name="Rissc_Printformer_Adminhtml_Order_ItemRenderer"
                type="Rissc\Printformer\Plugin\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer"
                sortOrder="100"/>
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="Rissc_Printformer_Sales_OrderModel" type="Rissc\Printformer\Plugin\Sales\OrderModel"
                sortOrder="100"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order">
        <plugin name="Rissc_Printformer_Sales_OrderResourceModel" type="Rissc\Printformer\Plugin\Sales\OrderResourceModel"
                sortOrder="100"/>
    </type>
    <type name="Magento\Wishlist\Block\Customer\Wishlist\Item\Column">
        <plugin name="Rissc_Printformer_Wishlist_ItemColumn"
                type="Rissc\Printformer\Plugin\Wishlist\Customer\Wishlist\Item\Column" sortOrder="100"/>
    </type>
    <type name="Magento\Wishlist\Controller\Index\Add">
        <plugin name="Rissc_Printformer_Wishlist_Add" type="Rissc\Printformer\Plugin\Wishlist\Add" sortOrder="100"/>
    </type>
    <type name="Magento\Wishlist\Controller\Index\UpdateItemOptions">
        <plugin name="Rissc_Printformer_Wishlist_UpdateItemOptions"
                type="Rissc\Printformer\Plugin\Wishlist\UpdateItemOptions" sortOrder="100"/>
    </type>
    <type name="Magento\Wishlist\Model\Wishlist">
        <plugin name="Rissc_Printformer_WishlistModel" type="Rissc\Printformer\Plugin\Wishlist\WishlistModel"
                sortOrder="100"/>
    </type>
    <type name="Magento\Wishlist\Helper\Data">
        <plugin name="Rissc_Printformer_WishlistAddToBlock" type="Rissc\Printformer\Plugin\Wishlist\Helper\Data"
                sortOrder="100"/>
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="Rissc_Printformer_Sales_Order_Reorder_Plugin"
                type="Rissc\Printformer\Plugin\Sales\Order\Reorder\Plugin" sortOrder="100"/>
    </type>
    <type name="Rissc\Printformer\Block\Catalog\Product\View\Printformer">
        <plugin name="printformer_delete_session_after_configure"
                type="Rissc\Printformer\Plugin\Block\Printformer\Plugin"
                sortOrder="1000"
        />
    </type>
    <type name="Magento\Framework\Reflection\FieldNamer">
        <plugin name="field_namer_method_plugin"
                type="Rissc\Printformer\Plugin\FieldNamerPlugin"
                sortOrder="100"
        />
    </type>
    <type name="Magento\Customer\Controller\Section\Load">
        <plugin name="assign_customer_user_identifier_to_guest_cart"
                type="Rissc\Printformer\Plugin\Customer\Section\Load\Plugin"
                sortOrder="100"
        />
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="Rissc\Printformer\Plugin\CsrfValidatorSkip" />
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="csrf_validator_skip" type="Rissc\Printformer\Plugin\Checkout\Model\DefaultConfigProvider" />
    </type>
    <type name="Rissc\Printformer\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Rissc\Printformer\Logger\PrintformerLogger">
        <arguments>
            <argument name="name" xsi:type="string">PrintformerLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Rissc\Printformer\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
