<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Rissc_Printformer::module"
             title="Printformer"
             translate="title"
             module="Rissc_Printformer"
             sortOrder="40"
             resource="Rissc_Printformer::module"
             parent="Magento_Backend::system"
        />
        <add id="Rissc_Printformer::drafts" title="Drafts"
             module="Rissc_Printformer" sortOrder="20"
             resource="Rissc_Printformer::drafts"
             action="printformer/drafts/index"
             parent="Rissc_Printformer::module"
        />
        <add id="Rissc_Printformer::history_log" title="Api History"
             module="Rissc_Printformer" sortOrder="30"
             resource="Rissc_Printformer::history_log"
             action="printformer/history/index"
             parent="Rissc_Printformer::module"
        />
        <add id="Rissc_Printformer::customer_group_rights"
             title="Customer Group Rights"
             translate="title"
             module="Rissc_Printformer"
             sortOrder="60"
             parent="Magento_Backend::other_settings"
             action="printformer/group/rights"
             resource="Rissc_Printformer::group"
        />
    </menu>
</config>
