<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="rissc_extensions" translate="label" sortOrder="110">
            <label>Rissc Extensions</label>
        </tab>
        <section id="printformer" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Printformer</label>
            <tab>rissc_extensions</tab>
            <resource>Rissc_Printformer::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Status for Payed Order</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="redirect_after_config" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Redirect After Configuration</label>
                    <source_model>Rissc\Printformer\Model\Config\Source\Redirect</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="redirect_on_cancel" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Redirect to product detail page on cancel</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="redirect_alt_url" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Alternative URL</label>
                    <depends>
                        <field id="redirect_after_config">3</field>
                    </depends>
                </field>
                <field id="allow_skip_config" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Add to Cart without Configuration</label>
                    <source_model>Rissc\Printformer\Model\Config\Source\YesNoPartitial</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="guest_wishlist_hint" translate="label" type="textarea" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Wishlist Hint Text for Guest Users</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="cart_edit_text" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>"Edit" Text in Cart</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="product_image_preview" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Replace Product Image with Preview</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="product_image_preview_width" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Preview image width</label>
                    <depends>
                        <field id="product_image_preview">1</field>
                    </depends>
                </field>
                <field id="product_image_preview_height" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Preview image height</label>
                    <depends>
                        <field id="product_image_preview">1</field>
                    </depends>
                </field>
                <field id="config_button_text" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>"Configure" Button Text</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="config_button_css" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>"Configure" Button CSS</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="close_text" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>"Editor Close" Notice Text</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="processing_type" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Processing Type</label>
                    <source_model>Rissc\Printformer\Gateway\Admin\Draft</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="delete_draft_button" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show delete Draft Button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="delete_confirm_text" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delete confirm text</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="sync_button" translate="button_label" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                    <button_label>Synchronize templates</button_label>
                    <frontend_model>Rissc\Printformer\Block\Adminhtml\System\Config\Form\Button\Sync</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="version2group" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>API Credentials</label>
                <field id="version2" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Version 2</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="v2url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remote host</label>
                    <depends>
                        <field id="version2">1</field>
                    </depends>
                    <validate>validate-url</validate>
                </field>
                <field id="v2apiKey" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <depends>
                        <field id="version2">1</field>
                    </depends>
                    <validate>validate-length minimum-length-32 maximum-length-32</validate>
                </field>
                <field id="v2identifier" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Identifier</label>
                    <depends>
                        <field id="version2">1</field>
                    </depends>
                    <validate>validate-length minimum-length-8 maximum-length-8</validate>
                </field>
                <field id="reset_printformer_identifier_button" translate="button_label" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Reset Printformer Identifier</button_label>
                    <frontend_model>Rissc\Printformer\Block\Adminhtml\System\Config\Form\Button\ResetPrintformerIdentifier</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="version2">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
