#printformer-editor-main, .printformer-editor-main {
    height: 100% !important;
    width: 100% !important;
}
.printformer-editor-main-modal .modal-inner-wrap {
    margin: 0;
    height: 100% !important;
    width: 100% !important;
}
.printformer-editor-main-modal .modal-header {
    padding-top: 1.5rem;
}
.printformer-editor-main-modal .modal-title {
    border-bottom: none;
    padding-bottom: none;
    font-size: 20px;
    text-align: center;
}
.printformer-editor-main-modal .modal-content {
    height: 88% !important;
}
#printformer-editor-notice,
#printformer-editor-close {
    text-align: center;
}
.printformer-editor-notice-modal .modal-inner-wrap,
.printformer-editor-close-modal .modal-inner-wrap {
    width: 20% !important;
    min-width: 400px !important;
}
.printformer-editor-notice-modal .modal-footer,
.printformer-editor-close-modal .modal-footer {
    margin: 0 auto;
}
.printformer-editor-notice-modal .ok-btn,
.printformer-editor-notice-modal .cancel-btn,
.printformer-editor-close-modal .ok-btn,
.printformer-editor-close-modal .cancel-btn {
    min-width: 160px; background-color: #c2c1c1; border: 0; border-radius: 0; box-shadow: 0;
}